body {
    margin: 0;
    padding: 5px;
    width: max-content;
    height: max-content;
}
#contenedortitulo {
    position: absolute;
    z-index: 10px;
    width: 100;
    height: 100;
}
.contenedor {
    width: 100%;
    height: 100%;
}
.titulo {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10px;
    font-size: 400%;
    color: white;
}
.imagenfondo {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60%;
    width: max-content;
}